body {
  font-family: sans-serif;
  background: radial-gradient(circle, #bbd0ff, #b8c0ff, #c8b6ff, #e7c6ff);
  padding: 2rem;
  text-align: center;
  background-repeat: none;
}

img {
  width: 125px;
  height: 125px;
  object-fit: cover;
  border-radius: 50%;
}
